source_env_if_exists .envrc.private
use nix
watch_file daml.yaml
PATH_add bin

# --- DPM configuration ---
export REPO_ROOT=$(pwd)
export DPM_REGISTRY="europe-docker.pkg.dev/da-images/public-all"
export DPM_HOME="${REPO_ROOT}/.dpm/"
export DPM_SDK_VERSION="3.4.9"