# https://help.github.com/articles/about-codeowners/

# Update to '@digital-asset/financial-engineering' upon open sourcing
# Require someone from the team to approve each PR against the repo
* @DACH-NY/financial-engineering
